<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695058479141-rb262090g80riflou37ei8lohi2qqfno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695058479141-rb262090g80riflou37ei8lohi2qqfno</string>
	<key>API_KEY</key>
	<string>AIzaSyBN8DHKzT6RbqkhgPZE0LiuEQVzSXRl39Q</string>
	<key>GCM_SENDER_ID</key>
	<string>695058479141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fenbishuo.edu</string>
	<key>PROJECT_ID</key>
	<string>chalktalks-fd29a</string>
	<key>STORAGE_BUCKET</key>
	<string>chalktalks-fd29a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695058479141:ios:66d3c51ae9673e82d4e7cc</string>
	<key>DATABASE_URL</key>
	<string>https://chalktalks-fd29a.firebaseio.com</string>
</dict>
</plist>